.app {
  display: flex;
  justify-content: space-between;
  max-width:960px;
  margin:0 auto;
  padding:20px;
}
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__left {
  flex:0.9;
}
.app_stats{
  display: flex;
  justify-content: space-between;
}

@media (max-width:990px) {
  .app {
    flex-direction: column;
  }
}

.card { 
  padding: 16px;
  background: #eff2f6;
  border-radius: 5px;
  min-width: 145px;
  max-width: 275px;
}

.card__title--primary {
  font-size: 11px;
  color: #717171;
}

.card__title--secondary{
  font-size: 17px;
    color: #18214d;
    padding: 5px 0;
    font-weight: bold;
}
.card__title--tertiary{
  font-size: 14px;
  color: #728aff;
}
.top__container {

}