.app {
  display: flex;
  justify-content: space-between;
  max-width:960px;
  margin:0 auto;
  padding:20px;
}
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__left {
  flex:0.9;
}
.app_stats{
  display: flex;
  justify-content: space-between;
}

@media (max-width:990px) {
  .app {
    flex-direction: column;
  }
}

.card {
  box-shadow: 0px 3px 4px #cecece;
  padding: 16px;
  padding-bottom: 24px;
  background: white;
  border-radius: 5px;
}

.card__title--primary {
  font-size: 10px;
  color: #949494;
}

.card__title--secondary{
  font-size: 12px;
  color: #4e4e4e;
}
.card__title--tertiary{
  font-size: 14px;
  color: #2d2d2d;
}
.top__container {
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
}