.table {
    margin-top:20px;
    overflow:scroll;
    height: 300px;
    font-size: 13px;
}

.table tr:nth-of-type(odd) {
    /* background: #f9f9f9; */
}
.table tr{
    display: flex;
    justify-content: space-between;
}
.table tr td {
    padding: 0.5rem;
}
.table tr td:last-of-type {
    padding: 15px 5px;
}

.country {
    display: flex;
    align-items: center;
}
.country__flag img{
    width: 28px;
    border-radius: 50%;
    height: 28px;
    margin-right: 5px;
}